table {
  width: 100%;
  border-collapse: collapse;
}

td, th {
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd;
}

.employee-data {
  display: none; 
  opacity: 0; /*----- Invisible data--- */
  transition: opacity 0.5s ease; 
}
 /* ---works here  as table cell--- */
.employee-data.revealed {
  display: table-cell;
  opacity: 1; 
}

.employee-name {
  cursor: pointer;
  font-weight: bold;
}